<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= page_title || "Joy's World" %></title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato', 
    							media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
	<!-- Top navigation bar applied to all pages -->
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dropdown-list" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to "Joy Zhang", "/", :class => "navbar-brand" %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="dropdown-list">
	      <ul class="nav navbar-nav">
	        <li><%= link_to "About", root_path %></li>
	        <li><%= link_to "Projects", "/projects" %></li>
	        <li><%= link_to "Resume", "/resume.pdf" %></li>
	        <li><%= link_to "Blog", "/blog", controller: "articles" %></li>
	        <li><%= link_to "Gallery", "https://500px.com/joy_zhang" %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- Top section including title and carousel applied to all pages -->
	<div class="top">
		<div class="headerTitle"><%= header_title %><hr></div>
		<div class="imageOverlay">&nbsp;</div>
		<div class="topCarousel">
			<div class="cropImage"><%= image_tag("top/MonumentValley.jpg", :alt => "Monument Valley") %></div>
			<div class="cropImage"><%= image_tag("top/GrandCanyon.jpg", :alt => "Grand Canyon") %></div>
			<div class="cropImage"><%= image_tag("top/CedarBreaks.jpg", :alt => "Cedar Breaks") %></div>
			<div class="cropImage"><%= image_tag("top/GrandTeton.jpg", :alt => "Grand Teton") %></div>
			<div class="cropImage"><%= image_tag("top/CentreIsland.jpg", :alt => "Centre Island") %></div>
		</div>
	</div>

	<div class="main"><%= yield %></div>

	<!-- Footer section containing contact info -->
	<div class="footer">
		<nav class="contact">
			<%= link_to_image("icons/facebook.png", "Facebook", "https://www.facebook.com/joy.zhang.92167") %>
			<%= link_to_image("icons/linkedin.png", "LinkedIn", "https://www.linkedin.com/in/joyxiaojizhang") %>
			<%= link_to_image("icons/github.png", "GitHub", "https://github.com/joy-xiaojizhang") %>
			<%= link_to_image("icons/email.png", "Email", "mailto:xiaojizhang27@gmail.com") %>
		</nav>
		<div class="legal"><p>© Joy Zhang 2016.</p></div>

		<!-- user authentication -->
		<% if !user_signed_in? %>
			<p class="authenticate"><%= link_to "Admin Login", new_user_session_path %></p>
		<% end %>

		<% if user_signed_in? %>
			<p class="authenticate"><%= link_to "New Blog", new_article_path %></p>
			<p class="authenticate"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
		<% end %>
    </div>

	<script type="text/javascript">
		$('.topCarousel').slick({
dots: false,
arrows: false,
fade: true,
infinite: true,
slidesToShow: 1,
autoplay: true,
autoplaySpeed: 5000
});
</script>
</body>
</html>
